{{> head }}

{{> nabvar }} {{!-- Con esto llamamos al parcial que se encuentra en /views/parciales definido en server.js --}}

<div class="row">
    <div class="col-8">
        <h1>Prueba About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, iusto soluta labore ex odio consequatur sed unde blanditiis magni nisi quasi obcaecati doloremque minus quod illo deleniti, itaque distinctio maiores?</p>
    </div>
    <div class="col-4">
        <img scr="assets/img/capitan-america.png"   class="img-thumbnail">
    </div>
</div>    

{{> footer}}